@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4saVIGxA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
body {
    font-family: 'Open Sans', sans-serif;
    max-width: 500px;
    margin: 0 auto;
}

.messages {
    margin-bottom: 20px;
}

.out-message {
    padding: 5px;
    background-color: lightgray;
}
.in-message{
    padding: 5px;
    background-color: limegreen;
}